<table align="center" style="max-width: 600px; margin: 0 auto" cellpadding="0" cellspacing="0" border="0" width="600">
    <tbody>
        <tr>
            <td colspan="1" rowspan="1">
                <table align="center" bgcolor="f7f7f7" cellpadding="0" cellspacing="0" border="0" style="padding: 20px; background-color: rgb(247, 247, 247)"
                    width="600">
                    <tbody>
                        <tr style="width: 100% 100%; display: block; margin: 0 auto">
                            <td align="center" colspan="1" rowspan="1" style="width: 100%; border-collapse: collapse; display: block; margin: 0 auto">
                                <img id="1541142765970100001_imgsrc_url_0" alt="LADY IDENTITY - Colour Collection 2019"
                                    style="display: block; margin: 0px auto; max-width: 498px; width: 400px" src="http://colours.jotun.no/assets/media/email/lady-email-header-en.png">
                                <br> <br> </td>
                        </tr>
                    </tbody>
                </table>
                <table align="center" cellpadding="0" cellspacing="0" border="0" bgcolor="#f7f7f7" style="border-collapse: collapse; background-color: rgb(247, 247, 247)"
                    width="600">
                    <tbody>
                        <tr>
                            <td align="center" colspan="1" rowspan="1" valign="top" style="border-collapse: collapse">
                                <table align="center" bgcolor="ffffff" cellpadding="0" cellspacing="0" border="0" style="border-collapse: collapse; padding: 20px; border-style: solid; border-color: rgb(235, 235, 235); border-top-width: 1px; border-left-width: 1px; border-right-width: 1px; border-bottom-width: 0px"
                                    width="600">
                                    <tbody>
                                        <tr>
                                            <td align="center" colspan="1" rowspan="1" valign="top" style="width: 100%; display: block; border-collapse: collapse; padding: 36px 0">
                                                <h1 style="font-family: Georgia, serif; text-align: center; line-height: 1">
                                                    <strong style="font-family: Georgia, serif; text-align: center; line-height: 1">Mine
                                                        favoritter</strong> </h1>
                                                <p style="font-family: Arial, sans-serif; text-align: center; padding: 0 20px">Dette
                                                    er mine favorittfarger, LADY-malinger og inspirasjonsbilder.</p>
                                                <p style="font-family: Arial, sans-serif; text-align: center; min-height: 0px; padding: 0px; margin: 0px; color: rgb(255, 255, 255)">...............................................................................................................................</p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td align="center" colspan="1" rowspan="1" valign="top">
                                <table align="center" bgcolor="ffffff" cellpadding="0" cellspacing="0" border="0" style="border-collapse: collapse; padding: 20px; border-style: solid; border-color: rgb(235, 235, 235); border-top-width: 1px; border-left-width: 1px; border-right-width: 1px; border-bottom-width: 0px"
                                    width="600">
                                    <tbody>
                                        <tr>
                                            <td align="center" colspan="1" rowspan="1" valign="top" style="display: block; border-collapse: collapse; width: 100%">
                                                <h4 style="font-family: Georgia, serif; text-align: center; text-transform: uppercase; color: rgb(85, 85, 85); margin-top: 15px; margin-bottom: 15px">
                                                    <strong style="font-family: Georgia, serif">Bilder</strong> </h4>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table align="center" bgcolor="ffffff" cellpadding="0" cellspacing="0" border="0" style="border-collapse: collapse; border-style: solid; border-color: rgb(235, 235, 235); border-top-width: 1px; border-left-width: 1px; border-right-width: 1px; border-bottom-width: 0px; margin: 0; padding: 0"
                                    width="600">
                                    <tbody>
                                        <tr>
                                            <td colspan="1" rowspan="1" valign="top" bgcolor="#ffffff" style="vertical-align: top; border-collapse: collapse; padding: 0px; margin: 0px; width: 50%">
                                                <img border="0" id="1541142765970100001_imgsrc_url_1" style="max-width: 300px; width: 300px"
                                                    src="http://colours.jotun.no/assets/media/email/images/t1/Jotun_calm_a1_0621.jpg">
                                                <table width="100%" cellpadding="20" cellspacing="0" border="0" style="border-collapse: collapse">
                                                    <tbody>
                                                        <tr>
                                                            <td colspan="1" rowspan="1" bgcolor="#ffffff" style="border-collapse: collapse">
                                                                <p style="font-family: Arial, sans-serif; text-transform: uppercase">VEGG:
                                                                    LADY PURE COLOR 10290 <strong>SOFT TOUCH</strong></p>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                            <td colspan="1" rowspan="1" valign="top" bgcolor="#ffffff" style="vertical-align: top; border-collapse: collapse; padding: 0px; margin: 0px; width: 50%">
                                                <img border="0" id="1541142765970100001_imgsrc_url_2" style="max-width: 300px; width: 300px"
                                                    src="http://colours.jotun.no/assets/media/email/images/t1/Jotun_calm_a2_0531.jpg">
                                                <table width="100%" cellpadding="20" cellspacing="0" border="0" style="border-collapse: collapse">
                                                    <tbody>
                                                        <tr>
                                                            <td colspan="1" rowspan="1" bgcolor="#ffffff" style="border-collapse: collapse">
                                                                <p style="font-family: Arial, sans-serif; text-transform: uppercase">VEGG:
                                                                    LADY PURE COLOR 12083 <strong>DEVINE</strong><br>
                                                                    VEGG: LADY PURE COLOR 1024 <strong>TIDLØS</strong><br>
                                                                    GULVLIST OG VINDU: LADY SUPREME FINISH MATT 1024
                                                                    <strong>TIDLØS</strong></p>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div>
                                    <table align="center" bgcolor="ffffff" cellpadding="0" cellspacing="0" border="0"
                                        style="border-collapse: collapse; padding: 20px; border-style: solid; border-color: rgb(235, 235, 235); border-top-width: 1px; border-left-width: 1px; border-right-width: 1px; border-bottom-width: 0px"
                                        width="600">
                                        <tbody>
                                            <tr>
                                                <td align="center" colspan="1" rowspan="1" valign="top" style="display: block; border-collapse: collapse; width: 100%">
                                                    <h4 style="font-family: Georgia, serif; text-align: center; text-transform: uppercase; color: rgb(85, 85, 85); margin-top: 15px; margin-bottom: 15px">
                                                        <strong style="font-family: Georgia, serif">
                                                            <font style="vertical-align: inherit;">
                                                                <font style="vertical-align: inherit;">LADY paints</font>
                                                            </font>
                                                        </strong>
                                                    </h4>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table align="center" bgcolor="ffffff" cellpadding="0" cellspacing="0" border="0"
                                        style="border-collapse: collapse; border-style: solid; border-color: rgb(235, 235, 235); border-top-width: 1px; border-left-width: 1px; border-right-width: 1px; border-bottom-width: 0px; margin: 0; padding: 0"
                                        width="600">
                                        <tbody>
                                            <tr>
                                                <td colspan="1" rowspan="1" valign="top" bgcolor="#ffffff" style="vertical-align: top;border-collapse: collapse;padding: 0px;margin: 0px;width: 100%;text-align: center;">
                                                    <img border="0" id="1541142765970100001_imgsrc_url_7" alt="LADY Pure Color"
                                                        style="max-width: 266px; width: 300px" src="http://colours.jotun.no/assets/media/email/spann/0_7L_Lady_PureColor.png">
                                                    <table width="100%" cellpadding="20" cellspacing="0" border="0"
                                                        style="border-collapse: collapse;text-align: center;">
                                                        <tbody>
                                                            <tr>
                                                                <td colspan="1" rowspan="1" bgcolor="#ffffff" style="border-collapse: collapse">
                                                                    <p style="font-family: Arial, sans-serif; text-transform: uppercase">
                                                                        <font style="vertical-align: inherit;">
                                                                            <font style="vertical-align: inherit;">LADY
                                                                                Pure Color</font>
                                                                        </font>
                                                                    </p>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <table align="center" bgcolor="ffffff" cellpadding="0" cellspacing="0" border="0" style="border-collapse: collapse; padding: 20px; border-style: solid; border-color: rgb(235, 235, 235); border-top-width: 1px; border-left-width: 1px; border-right-width: 1px; border-bottom-width: 0px"
                                    width="600">
                                    <tbody>
                                        <tr>
                                            <td align="center" colspan="1" rowspan="1" valign="top" style="width: 100%; display: block; border-collapse: collapse">
                                                <h4 style="font-family: Georgia, serif; text-align: center; text-transform: uppercase; color: rgb(85, 85, 85); margin-top: 15px; margin-bottom: 15px">
                                                    <strong style="font-family: Georgia, serif">Mine farger</strong>
                                                </h4>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table align="center" bgcolor="ffffff" cellpadding="0" cellspacing="0" border="0" style="border-collapse: collapse; border-style: solid; border-color: rgb(235, 235, 235); border-top-width: 1px; border-left-width: 1px; border-right-width: 1px; border-bottom-width: 0px; margin: 0; padding: 0"
                                    width="600">
                                    <tbody>
                                        <tr>
                                            <td colspan="1" rowspan="1" valign="top" bgcolor="#ffffff" style="vertical-align: top; border-collapse: collapse; padding: 0px; margin: 0px; width: 50%">
                                                <table width="300" height="300" border="0" style="border-collapse: collapse; background-color: rgb(163, 167, 152)">
                                                    <tbody>
                                                        <tr>
                                                            <td colspan="1" rowspan="1" height="300" style="min-height: 300px; border-collapse: collapse; background-color: rgb(163, 167, 152)"></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <table width="100%" cellpadding="20" cellspacing="0" border="0" style="border-collapse: collapse">
                                                    <tbody>
                                                        <tr>
                                                            <td colspan="1" rowspan="1" bgcolor="#ffffff" style="border-collapse: collapse">
                                                                <p style="font-family: Arial, sans-serif; text-transform: uppercase">LADY
                                                                    7628 <strong>Treasure</strong>**</p>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table align="center" cellpadding="0" bgcolor="ffffff" cellspacing="0" border="0" style="border-collapse: collapse; border-style: solid; border-color: rgb(235, 235, 235); border-top-width: 1px; border-left-width: 1px; border-right-width: 1px; border-bottom-width: 1px"
                                    width="600">
                                    <tbody>
                                        <tr>
                                            <td align="center" colspan="1" rowspan="1" valign="top" style="display: block; width: 100%; border-collapse: collapse">
                                                <p style="margin-left: 20px; margin-right: 20px; margin-top: 20px; margin-bottom: 20px; text-align: center">
                                                    <a href="http://colours.jotun.no" target="_blank">Gå til
                                                        fargekartet</a> </p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table align="center" cellpadding="20" bgcolor="f7f7f7" cellspacing="0" border="0"
                                    style="border-collapse: collapse; background-color: rgb(247, 247, 247)" width="600">
                                    <tbody>
                                        <tr>
                                            <td colspan="1" rowspan="1" style="display: block; border-collapse: collapse">
                                                <p style="color: rgb(85, 85, 85); font-size: 12px; font-family: Arial, sans-serif; margin-top: 0; margin-bottom: 15px; padding-top: 0; padding-bottom: 0; line-height: 18px; text-align: center">Du
                                                    mottar denne eposten fordi du har tatt vare på dine favoritter på
                                                    <a href="http://colours.jotun.no" style="color: rgb(85, 85, 85); text-decoration: underline"
                                                        target="_blank">LADY Fargekart</a>.</p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>